/* remove */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* wrapper */

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* h2 */

h2{
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

/* line */

.awesome_block_line{
    border-bottom: 1px solid #EC7979;
    margin-left: 500px;
    width: 170px;
    margin-bottom: 30px;
}

/* subtitle */

.awesome_block_text{
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #86878B;
    margin-bottom: 80px;
}

/* awesome_ block margin */

.awesome_block{
    margin-left: 35px;
}

/* cart */

.awesome_block_cart{
    width: 370px; 
    display: inline-block;
}

/* cart img */

.awesome_block_one img{
    margin-top: 120px;
}

/* cart text h4 */

.awesome_block_cart h4{
    font-family: Open Sans;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

/* cart text p */

.awesome_block_cart p{
    margin-top: 20px;
    font-family: Raleway;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/* cart circle */

.awesome_block_circle{
    border: 1px solid #EC7979;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-left: 150px;
}

/* cart circle1 img */

.awesome_block_circle_one img{
    padding: 7px;
}

/* cart text p */

.awesome_block_cart_two p{
    margin-top: 20px;
}

/* cart circle2 img*/

.awesome_block_circle_two img{
    height: 65px;
    width: 65px;
    margin: 12px;
}

/* cart circle3 img*/

.awesome_block_circle_three img{
    margin-left: 10px;
    padding: 15px;
}

