.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

h2{
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-bottom: 50px;
}

.awesome_block_line{
    border-bottom: 1px solid #EC7979;
    margin-left: 520px;
    width: 170px;
    margin-bottom: 30px;
}

.awesome_block_text_h5{
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #86878B;
    margin-bottom: 80px;
}

.awesome_block_one{
    width: 370px; 
}

.awesome_block_one_img{
    margin-top: 120px;
}

.awesome_block_one h4{
    font-family: Open Sans;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.awesome_block_one h5{
    margin-top: 20px;
    font-family: Raleway;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.awesome_block_one_circle{
    border: 1px solid #EC7979;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-left: 150px;
}

.awesome_block_one_circle img{
    height: 65px;
    width: 65px;
    padding: 10px;
}

.awesome_block_two{
    width: 370px;
    margin-left: 400px;
    margin-top: -300px;
}

.awesome_block_two h4{
    font-family: Open Sans;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.awesome_block_two h5{
    margin-top: 20px;
    font-family: Raleway;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.awesome_block_two_circle{
    border: 1px solid #EC7979;
    border-radius: 50%;
    height: 90px;
    width: 90px;   
    margin-left: 150px;
}

.awesome_block_two_circle img{
    height: 65px;
    width: 65px;
    margin: 12px;
}

.awesome_block_three{
    width: 370px;
    margin-left: 800px;
    margin-top: -300px;
}

.awesome_block_three h4{
    font-family: Open Sans;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
}

.awesome_block_three h5{
    margin-top: 20px;
    font-family: Raleway;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.awesome_block_three_circle{
    border: 1px solid #EC7979;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    margin-left: 150px;
}

.awesome_block_three_circle img{
    height: 65px;
    width: 65px;
    margin: 15px;
}